.weather-window {
    display: flex;
    flex-flow: column;
    .header {
        .geolocation-view {
            width: 100%;
        }
    }
    .main {
        display: flex;
        flex-flow: row-reverse;
        .input-city {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            min-width: 512px;
            .input-view {
                max-height: 100px;
                min-height: 50px;
                min-width: 250px;
                max-width: 500px;
            }
            .weather-data {}
        }
        .city-list-view {
            max-width: 250px;
            display: flex;
            margin-top: 50px;
        }
    }
}