@import url("https://fonts.googleapis.com/css?family=Raleway|Quicksand|Julius+Sans+One|Noto+Sans");
.weather {
    max-width: 760px;
    min-width: 760px;
    font-family: 'Quicksand', sans-serif; // filter: blur(2px);
    color: white;
    position: relative;
    max-height: 560px;
    min-height: 480px;
    .background {
        img {
            position: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            top: 0;
            left: 0;
            z-index: 1;
            filter: blur(7px)
        }
    }
    .container {
        width: 100%;
        height: 100%;
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 8px black;
        margin-left: 25px;
        .first-row {
            min-height: 200px;
            display: flex;
            max-width: 100vw;
            .city {
                font-family: 'Noto Sans', sans-serif;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 48px;
                font-weight: bold;
                letter-spacing: 6px;
                line-height: normal;
            }
            .desc {
                width: 60%;
                font-size: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 0px;
                line-height: normal;
                text-align: center;
            }
        }
        .second-row {
            min-height: 200x;
            display: flex;
            flex-direction: row;
            .left-side {
                width: 50%;
                display: flex;
                flex-flow: column;
                .temp {
                    margin-left: 30px;
                    display: flex;
                    min-height: 115px;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 115px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
                .desc {
                    font-family: 'Raleway', sans-serif;
                    display: flex;
                    justify-content: center;
                    font-size: 24px;
                }
                .bottom-data {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    letter-spacing: 4px;
                    .humidity {
                        width: 50%;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                    }
                    .wind {
                        width: 50%;
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        border-left: 1px solid white;
                    }
                }
            }
            .right-side {
                font-family: 'Raleway', serif;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 36px;
                font-weight: bold;
                .country {
                    max-width: 100%;
                    line-height: normal;
                }
            }
        }
        .third-row {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            .button {
                margin-left: 15px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                background: #ed3330;
                padding: 15px;
                border-radius: 5px;
                display: inline-block;
                border: none;
                user-select: none;
                cursor: pointer;
                &:hover {
                    background: #02a74c;
                    letter-spacing: 1px;
                    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
                    transition: all 0.4s ease 0s;
                }
            }
        }
    }
    .pending, .failed{
        display: flex;
        justify-content: center;
        .load {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .img {
                display: flex;
                justify-content: center;
                img {
                    width: 64px;
                    height: 64px;
                }
            }
            .text {
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                font-size: 24px;
                color: white;
            }
        }
    }
}