.map-view {
    .geolocation{

    }
    .map{
    }
    .back-button {
        img {
            position: absolute;
            top: 70px;
            left: 120px;
            width: 48px;
            height: 48px;
            opacity: 0.3;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}